html,body{
	height:100%;
}
body{
				background-image:url(photo1.jpg);
				background-repeat: no-repeat;
				background-size:  cover;
}

a{
	color: black;
	font-size: 22px;
	font-style: italic;
	text-decoration: none;
	padding-right: 25px;
}

hr{
	border-color: black;
	width:100%;
}

div{
	height: 100%;
}